:root {
  --bg-color: #daf0ff;
  --primary-color: rgba(255, 255, 255, 0.842);
  --text-primary-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --secondary-text-color:#797f7f;
  --button-color: #c1d9e8;
  --button-hover-color: #9ec6e0;
  --math-bg-keys: #b3dbff;
  --math-color-keys: #60abe0;
  --math-bg-hover-keys: #18acfe;
  --math-color-hover-keys: #ffffff;
  --border-color: white;
  --clear-btn-color :#86c5fb;
  --clear-btn-bg-color :#c1d9e8;
}

body.darkMode {
  --bg-color: #444546;
  --primary-color: #17191a;
  --text-primary-color: white;
  --text-color: #2ba8fb;
  --secondary-text-color:#7f8182;
  --button-color: #2f3135;
  --button-hover-color: #3f4041;
  --math-bg-keys: #005db1;
  --math-color-keys: #379dfc;
  --math-bg-hover-keys: #1892ff;
  --math-color-hover-keys: #ffffff;
  --border-color: #2f3135;
  --clear-btn-color :#a4a6a7;
  --clear-btn-bg-color :#5f5f5f;


}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-primary-color);
}
main {
  background-color: #0f8ee2;
  border-radius: 50%;
  width: 600px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--primary-color);
  padding: 10px 20px;
  max-width: 265px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

body.darkMode .calculator {
  background-color: black;
}

.displayField {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 25px 0px;
  min-height: 20vh;
  position: relative;
}
.displayField .displayBox {
  width: 100%;
  background-color: transparent;
  color: var(--text-primary-color);
  border: none;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  outline: none;
  text-align: right;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.displayBox::after {
  content: "|";
  align-self: center;
  margin-left: 2px;
  margin-bottom: 50px;
  color: var(--text-primary-color);
  font-family: serif;
  font-weight: lighter;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.calculateButtons {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.calculateButtons button {
  padding: 10px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  color: var(--text-color);
}
.wideBth {
  grid-column: span 2;
}

.tallBth {
  grid-row: span 2;
}
.calculateButtons .sign {
  background-color: var(--math-bg-keys);
  color: var(--math-color-keys);
}

/* theme */

.themeBtn {
  border: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--button-color);
  color: var(--text-primary-color);
  border-radius: 10px;
}

.calculateButtons button:hover {
  background-color: var(--button-hover-color);
}

.calculateButtons .sign:hover {
  background-color: var(--math-bg-hover-keys);
  color: var(--math-color-hover-keys);
}

@media only screen and (max-width: 600px) {
  main {
    background-color: var(--bg-color);
  }
}
.operator {
  color: #128ce0;
}
#calculations {
  color: var(--secondary-text-color);
  text-align: right;
  width: 100%;
  font-size: 22px;
  font-family: sans-serif;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
}

.calculateButtons .clearBtn{
  color: var(--clear-btn-color);
  background-color: var(--clear-btn-bg-color);
}
.calculateButtons .clearBtn:hover{
  color: white;
}