:root {
  --bg-color: #daf0ff;
  --primary-color: rgba(255, 255, 255, 0.32);
  --text-primary-color:rgb(0, 0, 0);
  --text-color: rgb(16, 16, 16);
  --button-color: #d2ebfc;
  --math-bg-keys: #b3dbff;
  --math-color-keys: #60abe0;
  --math-hover-keys: #18acff;
  --border-color:white;
}

body.darkMode {
  --bg-color: #444546;
  --primary-color: rgba(0, 0, 0, 0.884);
  --text-primary-color:white;
  --text-color: #2ba8fb;
  --button-color: #2f3135;
  --math-bg-keys: #005db1;
  --math-color-keys: #379dfc;
  --math-hover-keys: #1892ff;
  --border-color:#2f3135;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-primary-color);
}

.calculator {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 15px;
  max-width: 300px;

  /* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 50px 25px rgba(255, 255, 255, 2.5); */
}

.displayField {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 25px 0px;
  min-height: 20vh;
}
.displayField input {
  width: 100%;
  background-color: transparent;
  color: var(--text-primary-color);
  border: none;
  font-size: 36px;
  font-weight: 500;
  outline: none;
  text-align: right;
}
.calculateButtons {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.calculateButtons button {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid  var(--border-color);
  background-color: var(--button-color);
  color: var(--text-color);
}
.wideBth {
  grid-column: span 2;
}

.tallBth {
  grid-row: span 2;
}
.calculateButtons .sign {
  background-color: var(--math-bg-keys);
  color: var(--math-color-keys);
}

/* theme */

.themeBtn {
  border: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--button-color);
  color: var(--text-primary-color);
  border-radius: 10px;
}
